a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

a[href]:not([href="#"]):hover,
input[type="submit"]:hover,
input[type="image"]:hover,
label[for]:hover,
button:hover,
img:hover,
select:hover,
.pointer:hover,
.hover:hover {
  animation: onHover 0.2s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes onHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.pointer {
  cursor: pointer;
}
